*{
	margin: 0%;
	padding: 0%;
	border: none;
}
body{
	background: #d1d1d1 url(pretocouro.jpg);
	color: #fff;
	width: 100%;
	height: 2000px;

}
#cabeçalho ul {
	margin-top: 50px;
	padding: 0;
	list-style-type: none;
	width: 100%;
	background: #159cb0 url(fundo-horizontal.png) no-repeat;
	float: left;
}
#cabeçalho ul li{
	float: left;
	text-align: center;

}
#cabeçalho ul a {
	display: block;
	padding: 0 2em;
	line-height: 2.2em;
	text-decoration: none;
	color: #fff;
	background: url(divisor.png) repeat-y left top;
	text-align: center;
}
#cabeçalho ul a {
	background: none;
}
#cabeçalho ul a:hover {
	color: #085662;
	background: #44cade;
}
.topo {
	padding: 0.5em;
	margin-top: -30px;
	display: block;
	text-align: center;
	width: 100%;
	height: 160px;
	background: #3399cc url(cabecalho2.jpg);
}
.topo h1 {
	margin: 20pt;
}
.menu ul {
	list-style-type: none;
	margin-top: 100px;
}
.menu ul a {
	width: 200px;
	height: 40px;
	display: block;
	color: #000;
	text-decoration: none;
	text-indent: 40px;
	line-height: 40px;
	background: url(menu.png) no-repeat left bottom;
}
.menu a:hover,  a {
	background-position: right bottom;
	background-color: #f99200;
	color: #fff;
}

body, html {
	margin: 0;
	font: 16px "Lato", sans-serif;
	color: #777;
	height: 100%;

}

.conteudo {
	color: #777;
	text-align: justify;
	padding: 50px 80px;
}
h3 {
	text-transform: uppercase;
	color: #111;
	text-align: center;
}

/* efeito paralax */
.caixa1, .caixa2, .caixa3, .caixa4, .caixa5, .caixa6 {
	position: relative;
	height: 100%;
	opacity: 0.7;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.caixa1 {
	background-image: url(imagem1.jpg);
}
.caixa2 {
	background-image: url(imagem2.jpg);
}
.caixa3 {
	background-image: url(imagem3.jpg);
}
.caixa4 {
	background-image: url(imagem4.jpg);
}
.caixa5 {
	background-image: url(imagem5.jpg);
}
.caixa6 {
	background-image: url(imagem6.jpg);
}
p {
	margin-bottom: 20px;
}
.conteudo-titulo {
	position: absolute;
	left: 0%;
	top: 45%;
	width: 100%;
	text-align: center;
}
.conteudo-titulo span.titulo {
	color: #fff;
	background-color: #111;
	padding: 18px;
	font-size: 25px;
	letter-spacing: 5px;
	text-transform: uppercase;
}